.NewBoxForm-form {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.NewBoxForm-color, .NewBoxForm-height, .NewBoxForm-width {
    margin: 1rem;
}

.NewBoxForm-label {
    margin: 0 5px 0 0;
}

.NewBoxForm-input {
    width: 100px;
}